<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">BEER X</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" data-scroll href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-scroll href="#novedades">Novedades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-scroll href="#historia">Historia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-scroll href="#nosotros">Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-scroll href="#conocenos">Conocenos</a>
            </li>
        </ul>
    </div>
</nav>
<!--fin barra de navegacion-->

<div class="container-fluid">
    <!--contenido del sitio-->
    <div id="home" class="row align-items-center hero">
        <div class="col-lg-3 offset-lg-2">
            <p>Bajada</p>
            <h1>Titulo Principal</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque nihil possimus sed, iusto ad, veniam
                enim expedita, aperiam rem quam alias illo molestiae culpa veritatis exercitationem ipsum omnis
                ratione? Quo?</p>
        </div>
    </div>
    <!--seccion novedades-->
    <div id="novedades" class="row py-4">
        <div class="col-md-5 offset-md-2 py-3">
            <h2>Novedades</h2>
            <ul class="lista-novedades">
                <li><a href="#" data-toggle="modal" data-target="#modalEjemplo"><img src="images/novedades01.jpg">Nuevas
                        recetas</a></li>
                <li><a href="#" data-toggle="modal" data-target="#modalEjemplo"><img src="images/novedades01.jpg">Nuevas
                        recetas</a></li>
                <li><a href="#" data-toggle="modal" data-target="#modalEjemplo"><img src="images/novedades01.jpg">Nuevas
                        recetas</a></li>
                <li><a href="#" data-toggle="modal" data-target="#modalEjemplo"><img src="images/novedades01.jpg">Nuevas
                        recetas</a></li>
                <li><a href="#" data-toggle="modal" data-target="#modalEjemplo"><img src="images/novedades01.jpg">Nuevas
                        recetas</a></li>
            </ul>
        </div>
        <!--codigo del modal-->
        <div class="modal fade" id="modalEjemplo" data-backdrop="static" data-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-center modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLable">Nuevas Recetas</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi neque culpa itaque labore
                            fugiat ratione accusamus id iste sit quis officiis doloremque, tempore illum, nostrum
                            necessitatibus aliquid quam quos rem.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--seccion testimonios-->
        <div class="col-md-3">
            <div class="rounded py-3 testimonios">
                <h2 class="text-center">Testimonios</h2>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="Testimonio">
                                <h5>"¡La mejor birra del mundo!</h5>
                                <p>Francisco, Monte Grande</p>
                            </div>
                            <!--<img src="..." class="d-block w-100" alt="...">-->
                        </div>
                        <div class="carousel-item">
                            <div class="Testimonio">
                                <h5>"¡La mejor birra del mundo!</h5>
                                <p>Verónica, Mar del Plata</p>
                            </div>
                            <!--<img src="..." class="d-block w-100" alt="...">-->
                        </div>
                        <div class="carousel-item">
                            <div class="Testimonio">
                                <h5>"¡La mejor birra del mundo!</h5>
                                <p>Juan Pablo, Mendoza</p>
                            </div>
                            <!--<img src="..." class="d-block w-100" alt="...">-->
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <!--cierra testimonio-->
        </div>
    </div>
    <!--cierra id=novedades-->
    <!--Inicio seccion HISTORIA-->
    <div id="historia" class="row align-items-center py-4">
        <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
            <img src="images/historia_1.jpg" alt="historia 1" class="img-fluid">
        </div>
        <div class="col-lg-2 col-md-3 d-none d-sm-block">
            <img src="images/historia_2.jpg" alt="historia 2" class="img-fluid">
        </div>
        <div class="col-12 d-sm-none">
            <img src="images/historia_3.jpg" alt="historia 3" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
            <h2>Historia</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero soluta nisi facere distinctio deleniti
                eveniet voluptates nemo. Asperiores totam harum eaque, repellat maxime officia commodi tenetur corrupti
                alias debitis minima.</p>
        </div>
    </div>
    <!--Fin seccion HISTORIA-->
    <!--Inicio seccion NOSOTROS-->
    <div id="nosotros" class="row align-items-stretch my-3 staff py-4">
        <div class="col-lg-8 offset-lg-2">
            <h2>Nosotros</h2>
            <div class="card-deck">
                <div class="card">
                    <img src="images/nosotros01.jpg" alt="..." class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Ainhoa Barrenechea</h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde officiis
                            commodi obcaecati accusamus corrupti? Quibusdam repudiandae sed deserunt, aspernatur
                            molestiae, rerum eius beatae rem tenetur nostrum magnam necessitatibus a minus.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="images/nosotros02.jpg" alt="..." class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Orlando Silva</h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde officiis
                            commodi obcaecati accusamus corrupti? Quibusdam repudiandae sed deserunt, aspernatur
                            molestiae, rerum eius beatae rem tenetur nostrum magnam necessitatibus a minus.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="images/nosotros03.jpg" alt="..." class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Juan Manuel Ramirez</h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde officiis
                            commodi obcaecati accusamus corrupti? Quibusdam repudiandae sed deserunt, aspernatur
                            molestiae, rerum eius beatae rem tenetur nostrum magnam necessitatibus a minus.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="images/nosotros04.jpg" alt="..." class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Pablo Dos Santos</h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde officiis
                            commodi obcaecati accusamus corrupti? Quibusdam repudiandae sed deserunt, aspernatur
                            molestiae, rerum eius beatae rem tenetur nostrum magnam necessitatibus a minus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Fin seccion NOSOTROS-->
    <!--Inicio seccio VISITANOS-->
    <div id="conocenos" class="row py-4">
        <div class="col-md-4 offset-md-2">
            <h2>Visitanos</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.21923322086!2d-58.422296282556154!3d-34.5986174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca62d4cf1563%3A0x686de505d84c67e6!2sAv.%20Medrano%20951%2C%20C1179AAQ%20CABA!5e0!3m2!1ses!2sar!4v1650071653184!5m2!1ses!2sar"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <!--Fin seccion VISITANOS-->
    <!--Inicio seccion CONTACTANOS-->
    <div class="col-md-4 mt-4 mt-sm-0">
        <h2>Contactanos</h2>
        <form action="/contacto" method="post" class="formulario">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="..." name="nombre">
                </div>
                <div class="form-group col-md-6">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" placeholder="..." name="apellido">
                </div>
                <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="ejemplo@email.com" name="email">
                </div>
                <div class="form-group col-md-6">
                    <label for="tel">Tel</label>
                    <input type="text" class="form-control" id="tel" placeholder="..." name="Tel">
                </div>
                <div class="form-group col-md-12">
                    <label for="mensaje">Mensaje</label>
                    <textarea class="form-control" id="mensaje" rows="4" name="menaje"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        {{#if message}}
        {{message}}
        {{/if}}
    </div>
    <!--Fin seccion CONTACTANOS-->
</div>
<footer>
    <p class="text-center">Diseño: UTN.BA</p>
</footer>